* {
    border: 4px  orange;
    text-align: justify;
    text-decoration: none;
    border-radius: 15%;
    
}

.info {
    font-size: 40%;
}

a:link {
    color: green;
    font-weight: bold;
}

img {
    height: 50px;
    width: 40px;
}

div {
    text-align: center;
    text-shadow: 2px 2.5px #ABCDEF;
    font-weight: bold;
    font-size: 5vw;
    padding-left: 30px;
    padding-top: 2em;

}

div#madrid {
    background-color: rgb(204, 251, 103);
    border-style: dotted;
    border-image: url(../img/real-madrid.png);
}

div#rayo {
    background-color: rgb(243, 251, 103);
    border-top-style: red;
    border-bottom: red;
    border-image: url(../img/rayo-vallecano.png);
}

div#getafe {
    background-color: #DE9FFE;
    border-right-style: none;
    border-image: url(../img/getafe.png);
}

div#atleti {
    background-color: #FCDEE9;
    border-image: url(../img/atleti.png);
}