* {
    font-size: 13px;
    color:#ABCDEF;
    font-family: Courier, Helvetica, "MS Tahona", sans-serif ;
    list-style-type: square;
}

p::first-line {
    text-decoration: underline;
    color: blue;
    word-spacing: 2px;
}

p.primero::first-letter {
    font-weight: bold;
    color: green;
}

p.segundo::before {
    content: url(../img/asterisk_yellow.png);
}

p.segundo::after {
    content: url(../img/asterisk_yellow.png);
}

::marker {
    font-size: 35px;
}

li:hover {
    cursor: url(../img/bug.png),pointer;
}

li:first-child:hover {
    list-style-image: url(../img/asterisk_orange.png);
}

/* Revisar */
.lista:hover {
   
}

p.primero::selection {
    background-color: yellow;
}