p#pregunta {
    background-color: yellow;
    font-style: italic;
    height: 25px;
    display: inline-block;
}

p#respuesta {
    background-color: rgb(60, 148, 175);
    font-weight: bold;
    width: 40em;
}

.mostrar:active {
    display:none;
}